<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665550343037-8ur16uucermedin9npikl3tnt6c5fb4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665550343037-8ur16uucermedin9npikl3tnt6c5fb4g</string>
	<key>API_KEY</key>
	<string>AIzaSyCXQ9S6PYTG8iBMqR_pVQGrepNle5rNN3E</string>
	<key>GCM_SENDER_ID</key>
	<string>665550343037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deleeciousV4</string>
	<key>PROJECT_ID</key>
	<string>omega-granite-164507</string>
	<key>STORAGE_BUCKET</key>
	<string>omega-granite-164507.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665550343037:ios:1b634d9e688e5e5e61da14</string>
</dict>
</plist>